@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "gothic r";
    src:url(fuentes/GOTHIC.TTF);
}
@font-face {
    font-family: "gothic b";
    src:url(fuentes/GOTHICB.TTF);
}
@font-face {
    font-family: "majalla r";
    src:url(fuentes/majalla.ttf);
}
@font-face {
    font-family: "majalla b";
    src:url(fuentes/majallab.ttf);
}

h11{
	font-family:"majalla b";
	font-size:60px;
	padding:60px;
	padding-bottom:0px;
	color:#f39124;
	margin-bottom:0px;
	margin-top:0;
}

hr{
	width:880px;
	height:2px;
	background-color:#CCC;
	opacity:0.4;
	clear:both;
}

.titulo-texto{
	margin-right:200px;
	float:left;
	padding-left:160px;
	padding-top:40px;
	font-family:"gothic b";
	font-size:36px;
	color:#5E4DDC;
}

.cuerpo-texto{
	float:left;
	font-family:"gothic r";
	font-size:18px;
	color:#333;
	margin:auto;
	padding-left:200px;
}

.texto-apoyo{
	font-size:13px;
	float:left;
	font-family:"gothic r";
	color:#333;
	margin:auto;
	padding-left:200px;
}

.lista-ordenada{
	font-size:13px;
	float:left;
	padding-left:250px;
	font-family:"gothic r";
}

.lista-des{
	font-size:13px;
	float:left;
	padding-left:250px;
	font-family:"gothic r";
}

body{
	padding:0;
	margin:0;
	overflow-y: scroll;
}

video#bgvid {
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	background: url(polina.jpg) no-repeat;
	background-size: cover;
}

p{ color: #666;}
/*----------CONTENIDO----------*/

#marca{
	width:960px;
	float:left;
	
}

#congreso{
	width:960px;
	float:left;
}

.congr-des{
	font-family:"gothic r";
	font-size:16px;
	float:left;
	padding-left:250px;
	color:#333;
}

#seccion1{
	width:100%;
	float:left;
	background-color:rgba(0,0,0,0.8);
	opacity:1;
}

#cont-marca{
	margin-left:auto;
	margin-right:auto;
	width:1200px;
	background-color:#FFF;
	padding-top:30px;
}
/* -----------------------------SECCION----------------------------- 4*/


#footer{
	padding-top:30px;
	padding-bottom:30px;
	background-color:#FFF;
	clear: both;
}

#foot-info{
	overflow: hidden;
	width:960px;
	margin:auto;
}

#contactos{
	width:20%;
	color:#FFFFFF;
	font-family:"majalla r";
	float:left;
}

#cont{
	font-family:"gothic r";
	margin-top:-30px;
	font-size:13px;
}

#mini-redes{
	height:30px;
	margin-top:15px;
}

.ima-foot{
	float:left;
	padding-left:76px;
}

#sponsors{
	color:#FFFFFF;
	font-family:"majalla r";
	width:640px;
	float:left;
	margin-left:18px;
	background-color:#FFFFFF;
	border: 2px solid;
    border-radius: 25px;
}

.patrocinio{
	text-align:center;
	width:100%;
}

h2{
	margin-bottom:0;
	color:#333;
}

#footer hr{
	width:420px;
	height:2px;
	background-color:#CCC;
	opacity:0.4;
}


/*-----------------------------READ MORE----------------------------*/

